@import 'normilize/reset';

@import "./setting/variables";
@import "./setting/main";

@import "./elements/button";
@import "./elements/header";
@import "./elements/menu";
@import "./elements/s-title";

@import "./sections/main";
@import "./sections/projects";