@import 'normilize/reset';

@import "./setting/variables";
@import "./setting/main";

@import "./elements/button";
@import "./elements/header";
@import "./elements/footer";
@import "./elements/menu";
@import "./elements/s-title";
@import "./elements/title-ico";
@import "./elements/input";
@import "./elements/checkbox";
@import "./elements/sl-arrows";

@import "./sections/main";
@import "./sections/projects";
@import "./sections/online-control";
@import "./sections/feedback";
@import "./sections/types";
@import "./sections/request";
@import "./sections/gallery";
@import "./sections/reviews";
@import "./sections/questions";
@import "./sections/map";