.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: #131313;

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 22px;
        align-items: center;
    }

    &__item {

        &--logo {
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;

            @media(max-width: $dm) {
                color: $active;
            }
        }

    }

    &__link {
        color: $active;
        line-height: 1;
        text-decoration: underline;

        @media(max-width: $dm) {
            color: $white;
            text-decoration: none;
        }
    }

    &__btn {
        text-transform: uppercase;
        margin-left: 60px;
        padding: 12px 32px;

        @media(max-width: $dm) {
            display: none;
        }
    }
}