.projects {
    padding: 116px 0;
    background-color: $black;
    color: $white;

    @media(max-width: $tablet) {
        padding: 42px 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 20% 20% 30% 30%;
        grid-template-rows: minmax(100px, auto);
        grid-template-areas: 
        "one one two two" 
        "one one two two"
        "three three two two"
        "three three two two";

        @media(max-width: $tablet) {
            grid-template-columns: 1fr;
            grid-template-areas: 
            "one" 
            "two"
            "three";
        }
    }

    &__inner {

        &:first-child {
            grid-area: one;
            padding-right: 20px;

            @media(max-width: $tablet) {
                padding-right: 0;
            }
        }

        &:nth-child(2) {
            grid-area: three;
            padding-right: 20px;

            @media(max-width: $tablet) {
                padding-right: 0;
            }
        }

        &:last-child {
            grid-area: two;
        }
    }

    &__s-title {
        color: $active;
        margin-bottom: 36px;

        @media (max-width: $tablet) {
            text-align: center;
            margin-bottom: 24px;
        }
    }

    &__sub-title {
        font-family: $fontTitle;
        color: $active;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        margin-bottom: 8px;

        @media (max-width: $tablet) {
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 10px;
        }
    }

    &__about-project {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        display: none;

        &.active {
            display: flex;
        }
    }

    &__item {
        margin-bottom: 32px;
        width: 50%;
        padding-right: 20px;

        @media (max-width: $tablet) {
            margin-bottom: 24px;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        margin-bottom: 42px;

        @media (max-width: $tablet) {
            font-size: 12px;
            line-height: 140%;
            text-align: center;
            padding: 0 20px;
            margin-bottom: 28px;
        }
    }

    &__arrow {
        cursor: pointer;
        display: inline-block;
        width: 42px;
        height: 14px;
        opacity: 0.8;
        background-color: $white;
        mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='14' viewBox='0 0 42 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.0451 0L41.6831 6.63804L35.0451 13.2761L34.0975 12.3285L39.788 6.63804L34.0975 0.947567L35.0451 0Z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.7356 7.30784L0.227569 7.30784L0.22757 5.96777L40.7356 5.96778L40.7356 7.30784Z' fill='white'/%3e%3c/svg%3e");
        transition: $transition;

        &:hover {
            opacity: 1;
        }

        &--prev {
            transform: rotate(180deg);
        }
    }

    &__btns {
        display: flex;
        align-items: center;

        @media(max-width: $tablet) {
            display: none;
        }
    }

    &__list {
        padding: 0 20px;
        margin: 0;
        justify-self: 10px;
    }

    &__li {
        cursor: pointer;
        margin: 0 10px 0;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: 0.7;
        background-color: $white;
        transition: $transition;

        &:hover {
            opacity: 0.9;
        }

        &.active {
            opacity: 1;
        }
    }

    &__pictures {
        position: relative;
        height: 480px;

        @media (max-width: $tablet) {
            height: 240px;
            margin-bottom: 24px;
        }
    }

    &__picture {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    &__nav {
        margin-bottom: 44px;

        @media(max-width: $tablet) {
            display: none;
        }
    }

    &__btn-title {
        position: relative;
        cursor: pointer;
        font-family: $fontTitle;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.3);
        transition: $transition;
        font-size: 14px;
        line-height: 20px;
        padding: 0;
        text-transform: uppercase;
        margin-right: 5%;

        @media(max-width: $dm) {
            margin-right: 3%;
        }

        &:hover {
            color: $active;
        }

        &.active {
            color: $active;
            
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $active;
            }
        }
    }

}