.questions {
    padding: 240px 0 0;
    position: relative;
    margin-bottom: -140px;

    @media (max-width: $tablet) {
        background-color: $black;
        padding-top: 0;
        margin-bottom: 0;
    }

    &:before {
        position: absolute;
        opacity: 0.05;
        content: "";
        width: 100%;
        height: calc( 100% - 140px );
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/bg-question.svg");

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__s-title {
        text-align: center;
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 28px;
    }

    &__wrapper {
        max-width: 920px;
        margin: 0 auto;
        padding: 32px 180px;

        @media (min-width: $tablet) {
            background-color: $black;
        }

        @media (max-width: $tablet) {
            padding: 32px;
        }

        @media (max-width: $mobile) {
            padding: 32px 0;
        }
    }

    &__sub-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;

        @media (max-width: $tablet) {
            flex-direction: column;
            padding-bottom: 0;
        }
    }

    &__item {
        &:first-child {
            width: 46%;
        }

        &:nth-child(2) {
            width: 46%;
        }

        @media (max-width: $tablet) {
            &:first-child,
            &:nth-child(2) {
                width: 100%;
                margin-bottom: 40px;
            }
        }

        &--submit {
            text-align: center;
        }
    }

    &__label {
        color: $white;
    }

    &__input {
        color: $white;
        border-bottom: 1px solid $grayBorder;

        &::-webkit-input-placeholder {
            color: $white;
        }

        &:-moz-placeholder {
            color: $white;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: $white;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: $white;
        }

        &::-ms-input-placeholder {
            color: $white;
        }

        &::placeholder {
            color: $white;
        }
    }

    &__btn {
        width: 200px;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__checkbox-wrap {
        padding-top: 26px;
        text-align: center;
        margin-bottom: 32px;

        .checkbox + label {
            color: $white !important;
            font-size: 14px;
        }
    }
}
