$active : #E3B873;
$activeHover : #ebc383;
$activeActive : #c9a161;

$gray :  rgb(233, 233, 233);
$grayBorder :  rgba(168, 168, 168, 0.788);
$white : #fff;
$black : #131313;

$transition : 0.3s;

$fontTitle : 'Yeseva One', sans-serif;
$font : 'Nunito Sans', sans-serif;
$fontSizeDef : 16px;

// screen
$mobile : 768px;
$tablet : 960px;
$ds : 1024px;
$dm : 1200px;
$dl : 1260px;

@media(max-width: $tablet) {
    $black : #181818;
}